<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Azure Pipelines</title>
</head>
<body>
    {% for val in value %}
        <h1>{{ val['value'] }}</h1>
    {% endfor %}
    <br><br>
    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="newval"><br>
        <input type="submit" value="Change Value"/>
    </form>
</body>
</html>